.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  border-bottom: 1px solid #565656;
}

.contact-item:not(:last-child) {
  margin-bottom: 25px;
}

.footer__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.form__left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px 30px;
  width: 390px;
  margin-right: 30px;
  height: max-content;
}

.form__item {
  padding-left: 15px;
  height: 35px;
  width: 180px;
  background: #444444;
  color: white;
  border: 1px solid #616161;
}

.form__textarea {
  background: #444444;
  color: white;
  border: 1px solid #616161;
  width: 310px;
  height: 100px;
}

.footer__button-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__confidence {
  max-width: 390px;
}

.footer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 190px;
  background: #d1a954;
  border: none;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
