.about-theater {
  &__container {
    @media (max-width: $M) {
      padding: 0;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;

    gap: 30px;

    @media (max-width: $M) {
      flex-direction: column;
    }
  }

  &__information {
    max-width: 445px;

    @media (max-width: $M) {
      max-width: 510px;
    }
  }

  &__seating {
    width: 255px;

    @media (max-width: $M) {
      width: 510px;
    }

    @media (max-width: $S) {
      width: 360px;
    }
  }

  &__img-wrapper {
    @media (max-width: $XL) {
      display: none;
      visibility: hidden;
    }
  }
}

.information {
  @media (max-width: $M) {
    text-align: center;
  }

  &__title {
    margin: 0 0 40px 0;
  }
}

.seating {
  &__title {
    margin: 0 0 40px 0;
    text-align: center;
  }

  &__bottom {
    display: flex;
    flex-direction: column;

    gap: 15px;

    @media (max-width: $M) {
      flex-direction: row;
      justify-content: space-around;
    }

    @media (max-width: $S) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__description {
    margin: 15px 0 0 0;

    &:not(:last-child) {
      padding-bottom: 15px;
    }
  }
}
