.header {
  position: fixed;

  box-sizing: border-box;
  width: 100%;
  padding-top: 51px;

  
  &__button-wrapper {
    display: none ;

    @media (max-width: $L) {
      display: block;
    }
  }

  &__button {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    position: relative;

    &_active {
      display: none;
    }
  } 

  &__icon {
    position: absolute;
    content: "";
    width: 20px;
    height: 4px;
    background-color: $whiteColor;
    top: 20px;
    left: 0;
    transition: 300ms;
    
    &::before {
      position: absolute;
      content: "";
      height: 4px;
      background-color: $whiteColor;
      width: 26px;
      bottom: 10px;
      left: 0;
      transition: 300ms;
    }

    &::after {
      position: absolute;
      content: "";
      width: 13px;
      height: 4px;
      background-color: $whiteColor;
      bottom: 10px;
      left: 0;
      top: 10px;
      transition: 300ms;
    }
  }


  &__button:hover  &__icon {
    width: 35px;

    &::after {
      width: 35px;
    }

    &::before {
      width: 35px;
    }
  }

  &__navigation {
    @media (max-width: $XL) {
      margin-bottom: 50px;
    }

    @media (max-width: $L) {
      display: none;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: $XL) {
      align-items: center;
      flex-direction: column;
    }

    @media (max-width: $L) {
      flex-direction: row;
    }
  }

  &__tel {
    text-decoration: none;

    color: $whiteColor;
    border-bottom: 2px solid $yellowColor;
  }
}

.navigation {
  &__list {
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;
  }

  &__link {
    text-decoration: none;

    color: $whiteColor;

    &:hover {
      transition: 300ms;

      color: $yellowColor;
    }

    &:active {
      color: $bourbonColor;
    }
  }

  &__item {
    &:not(:last-child) {
      margin: 0 63px 0 0;

      list-style: none;

      @media (max-width: $XL) {
        margin: 0 28px 0 0;
      }

      @media (max-width: $L) {
        margin: 0 0 30px 0;
      }
    }
  }
}
