.header {
  position: fixed;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  padding-top: 51px;
  transition: 300ms;

  &__scroll {
    background: $glassEffectColor;
    padding-top: 30px;
    padding-bottom: 30px;
    backdrop-filter: blur(15px);

    @media (max-width: $XL) {
      background: none;
      backdrop-filter: none;
      border: none;
      padding-top: 51px;
      padding-bottom: 0;
      transition: 0ms;
    }
  }

  &__button-wrapper {
    display: none;

    @media (max-width: $L) {
      display: block;
    }
  }

  &__burger-btn {
    position: relative;

    width: 40px;
    height: 40px;

    border: none;
    background: none;
  }

  &__icon {
    position: absolute;
    top: 20px;
    left: 0;

    width: 20px;
    height: 4px;

    content: "";
    transition: 300ms;

    background-color: $whiteColor;

    &::before {
      position: absolute;
      bottom: 10px;
      left: 0;

      width: 26px;
      height: 4px;

      content: "";
      transition: 300ms;

      background-color: $whiteColor;
    }

    &::after {
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 0;

      width: 13px;
      height: 4px;

      content: "";
      transition: 300ms;

      background-color: $whiteColor;
    }
  }

  &__burger-btn:hover &__icon {
    width: 35px;

    &::after {
      width: 35px;
    }

    &::before {
      width: 35px;
    }
  }

  &__navigation {
    @media (max-width: $XL) {
      margin-bottom: 50px;
    }

    @media (max-width: $L) {
      display: none;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: $XL) {
      align-items: center;
      flex-direction: column;
    }

    @media (max-width: $L) {
      flex-direction: row;
    }

    @media (max-width: $M) {
      width: 100%;
      padding: 0 40px;
    }
  }

  &__tel {
    text-decoration: none;

    color: $whiteColor;
    border-bottom: 2px solid $yellowColor;
  }
}

.navigation {
  &__list {
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;
  }

  &__link {
    text-decoration: none;

    color: $whiteColor;

    &:hover {
      transition: 300ms;

      color: $yellowColor;
    }

    &:active {
      color: $bourbonColor;
    }
  }

  &__item {
    &:not(:last-child) {
      margin: 0 63px 0 0;

      list-style: none;

      @media (max-width: $XL) {
        margin: 0 28px 0 0;
      }

      @media (max-width: $L) {
        margin: 0 0 30px 0;
      }
    }
  }
}
