.header {
  position: fixed;
  z-index: 2;

  box-sizing: border-box;
  width: 100%;
  padding-top: 51px;

  &__navigation {
    @media (max-width: $XL) {
      margin-bottom: 50px;
    }

    @media (max-width: $L) {
      display: none;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: $XL) {
      align-items: center;
      flex-direction: column;
    }

    @media (max-width: $L) {
      flex-direction: row;
    }
  }

  &__tel {
    text-decoration: none;

    color: $whiteColor;
    border-bottom: 2px solid $yellowColor;
  }

  &__icon {
    display: none ;
  }
}

.navigation {
  &__list {
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;
  }

  &__link {
    text-decoration: none;

    color: $whiteColor;
  }

  &__item {
    &:not(:last-child) {
      margin: 0 63px 0 0;

      list-style: none;

      @media (max-width: $XL) {
        margin: 0 28px 0 0;
      }

      @media (max-width: $L) {
        margin: 0 0 30px 0;
      }
    }
  }
}

.navigation,
.telephone {
  &__link {
    &:hover {
      transition: 300ms;

      color: $yellowColor;
    }

    &:active {
      color: $bourbonColor;
    }
  }
}

