/* open-sans-condensed-300 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans Condensed';
  font-weight: 300;
  font-style: normal;

  src: local(''),
  url('../assets/fonts/open-sans-condensed-v15-latin_cyrillic-300.woff2')
  format('woff2'),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../assets/fonts/open-sans-condensed-v15-latin_cyrillic-300.woff')
  format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-condensed-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  font-style: normal;

  src: local(''),
  url('../assets/fonts/open-sans-condensed-v15-latin_cyrillic-700.woff2')
  format('woff2'),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../assets/fonts/open-sans-condensed-v15-latin_cyrillic-700.woff')
  format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;

  src: local(''),
  url('../assets/fonts/open-sans-v20-latin_cyrillic-regular.woff2') format('woff2'),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../assets/fonts/open-sans-v20-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;

  src: local(''),
  url('../assets/fonts/open-sans-v20-latin_cyrillic-700.woff2') format('woff2'),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../assets/fonts/open-sans-v20-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

::-webkit-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.51px;

  text-transform: uppercase;

  color: $whiteColor;
  background-color: $mainColor;
}

.container {
  width: 1110px;
  margin: 0 auto;

  @media (max-width: $XL) {
    width: 690px;
  }

  @media (max-width: $L) {
    width: 100%;
    padding: 0 40px;
  }

  @media (max-width: $M) {
    width: 510px;
  }
}

.fs12 {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  line-height: 150%;
}

.fs12-fw {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 150%;

  text-transform: none;

  color: $spanishColor;
}

.fs14 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  text-transform: none;
}

.fs16 {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  line-height: 22px;

  letter-spacing: .05em;
  text-transform: uppercase;
}

.fs16-lc {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  line-height: 22px;

  letter-spacing: .05em;
  text-transform: lowercase;
}

.fs18 {
  margin: 0;

  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 25px;

  letter-spacing: .1em;
  text-transform: uppercase;

  color: $whiteColor;
}

.fs21 {
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 29px;

  letter-spacing: .1em;
  text-transform: uppercase;
}

.fs24 {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 33px;

  letter-spacing: .05em;
  text-transform: uppercase;
}

.fs36 {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  line-height: 150%;

  text-transform: none;
}

.title,
.fs48 {
  margin: 0 0 100px 0;

  font-size: 48px;
  font-weight: 300;
  line-height: 65px;

  text-align: center;
  letter-spacing: .1em;
}

.fs72 {
  font-size: 72px;
  font-weight: bold;
  font-style: normal;
  line-height: 98px;

  letter-spacing: .1em;
  text-transform: uppercase;
}

.color__yellow {
  color: $yellowColor;
}

h1 {
  font-size: 64px;
  line-height: 87px;

  letter-spacing: .1em;
}

.pdt150 {
  margin-top: 150px;

  @media (max-width: $L) {
   margin-top: 90px;   
  }
}
