.panel {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;

  width: 150px;
  height: 100vh;
  padding: 0 0 85px 0;

  background-color: $blackGhostColor;

  &__contact {
    width: max-content;

    transform: rotate(-90deg) translateX(calc(50% + 17.5px));
  }

  &__title {
    flex-shrink: 0;

    padding: 0 0 0 120px;

    &::before {
      position: absolute;
      top: 12px;
      left: 0;

      width: 80px;

      content: '';

      border-top: 3px solid $silverColor;
    }
  }

  @media (max-width: $L) {
    display: none;
  }
}

.social {
  &__item {
    margin: 0 0 30px 0;
  }

  &__btn {
    display: inline-block;

    fill: $grayGhostColor;

    &:hover {
      transition: 300ms;

      fill: $yellowColor;
    }

    &:active {
      transition: 300ms;

      fill: $bourbonColor;
    }
  }
}
