.popup {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  transition: 500ms;
  transform: translateY(-105%);

  opacity: 0;

  &__wrapper {
    position: relative;

    width: 40vw;
    padding: 40px;

    background-color: $mainColor;

    @media (max-width: $XL) {
      width: 60vw;
    }

    @media (max-width: $S) {
      width: 90vw;
    }
  }

  &__active {
    visibility: visible;

    transform: translateY(0);

    opacity: 1;
  }

  &__content {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }

  &__close-button {
    position: absolute;
    top: 15px;
    right: 15px;

    width: 32px;
    height: 32px;

    border: none;
    background: none;

    &-icon {
      position: absolute;
      top: 13px;
      left: 2px;

      width: 30px;
      height: 3px;

      transform: rotate(45deg);

      background-color: $whiteColor;

      &::after {
        position: absolute;
        left: 0;

        width: 30px;
        height: 3px;

        content: '';
        transform: rotate(-90deg);

        background-color: $whiteColor;
      }
    }
  }
}

.popup-background {
  visibility: hidden;

  transition: 500ms;

  opacity: 0;

  &-active {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;

    visibility: visible;

    width: 100vw;
    height: 100vh;

    opacity: 1;
    background-color: $popupBackgroundColor;
  }
}
