.preview {
  &__photos {
    display: flex;
    justify-content: center;

    height: 550px;
    margin: 0 0 150px 150px;

    @media (max-width: $L) {
      display: none;
    }
  }

  &__items {
    position: relative;

    max-width: 442px;

    flex: 1 0 auto;

    &:hover .preview__container {
      visibility: hidden;

      opacity: 0;
    }

    &:hover .preview__button {
      transform: scale(1);
    }
  }

  @each $number in 1, 2, 3 {
    &__item-#{$number} {
      background-image: url('../assets/img/#{$number}.png');
    }
  }

  &__container {
    display: flex;
    visibility: visible;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    padding: 40px;

    transition: 300ms;

    opacity: 1;
    background-color: $blackTransparentColor;
  }

  &__date {
    transform: rotate(-90deg) translateY(100%);
    transform-origin: left bottom;
  }

  &__button {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);

    width: 100px;
    height: 100px;

    transition: 300ms;
    transform: scale(0);

    border: none;
    background: url('../assets/img/search.svg') no-repeat;
  }
}

.stars {
  display: flex;

  height: 550px;

  background: none;

  @media (max-width: $XL) {
    background: url('../assets/img/5.png') center no-repeat;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    background: url('../assets/img/5.png') center no-repeat;

    gap: 100px;


    @media (max-width: $XL) {
      justify-content: flex-start;

      background: none;

      gap: 60px;
    }
  }

  &__right {
    max-width: 540px;
  }

  &__title {
    margin-top: 25px;
  }
}
