.theater {
  z-index: 1;

  display: flex;
  align-items: center;

  height: 100vh;
  min-height: 680px;
  padding-top: 76px;

  background: url('../assets/img/header.png') center no-repeat;
  background-size: cover;

  @media (max-width: $M) {
    height: 600px; 
    padding-top: 0;
  }

  &__container {
    display: flex;
    
    @media (max-width: $L) {
      justify-content: center;
    }

    @media (max-width: $M) {
      display: block;
      padding: 0;
    }
  }

  &__description {
    width: 538px;
    margin: 0 125px 0 0;
    padding-top: 120px;

    @media (max-width: $XL) {
      margin: 0;
      padding: 0;
    }

    @media (max-width: $S) {
      width: 375px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}


.description {
  &__title {
    margin-bottom: 30px;
    }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 160px;
    height: 50px;
    margin-top: 45px;

    border: none;
    background-color: $yellowColor;

    &:hover {
      transition: 300ms;

      background-color: $orangeColor;
    }

    &:active {
      transition: 300ms;

      background-color: $bourbonColor;
    }
  }
}

.carousel {
  &__preview {
    width: 370px;
    height: 510px;
  }

  &__item {
    opacity: 0;
    transition: 500ms;

    &_visible {
      position: relative;

      opacity: 1;
    }
  }

  &__before {
    position: absolute;
    z-index: 0;
    top: 20px;
    left: 20px;
  }

  &__after {
    position: relative;
    z-index: 1;
  }

  &__nav {
    display: flex;
    justify-content: space-between;

    padding-top: 35px;
  }

  &__button-left {
    padding-left: 65px;
  }

  &__buttons {
    position: relative;

    color: $silverColor;
    border: none;
    background: none;

    &:hover {
      transition: 300ms;

      color: $whiteColor;

      .carousel__arrows,
      .carousel__arrows::before {
        transition: 300ms;

        border-color: $whiteColor;
      }
    }

    &:active {
      transition: 300ms;

      color: $yellowColor;

      .carousel__arrows,
      .carousel__arrows::before {
        transition: 300ms;

        border-color: $yellowColor;
      }
    }
  }

  &__left-arrow {
    left: 0;
    &::before {
      left: 0;

      transform: rotate(-45deg);
    }
  }

  &__arrows {
    position: absolute;
    top: 12px;

    display: block;

    width: 40px;

    border-top: $borderSilver;
    &::before {
      position: absolute;
      top: -7px;

      display: block;

      width: 10px;
      height: 10px;

      content: '';

      border-top: $borderSilver;
      border-left: $borderSilver;
      border-radius: 2px;
    }
  }

  &__button-right {
    padding-right: 65px;
  }

  &__right-arrow {
    right: 0;

    &::before {
      right: 0;

      transform: rotate(135deg);
    }
  }

  @media (max-width: $XL) {
    display: none;
    visibility: hidden;
  }
}
