$XL: 1409.75px;
$L: 991.75px;
$M: 767.75px;
$S: 575.75px;

$mainColor: #333333;
$yellowColor: #d1a954;
$orangeColor: #cd6326;
$bourbonColor: #8f5613;
$whiteColor: #ffffff;
$silverColor: #c4c4c4;
$matterhornColor: #565656;
$grayColor: #616161;
$goshawkColor: #444444;
$spanishColor: #989898;
$blackGhostColor: rgba(51, 51, 51, .75);
$blackTransparentColor: rgba(51, 51, 51, .5);
$grayGhostColor: rgba(255, 255, 255, .6);
$popupBackgroundColor: rgba(0, 0, 0, 0.8);
$glassEffectColor: #ffffff10;

$borderSilver: 2px solid $silverColor;
